@charset "utf-8";

/*==========================================================================*/
/* #region About */
/*--------------------------------------------------------------------------*/
/* 
    I have to say I pretty much did the absolute minimal here in hopes to
    obtain some marks but the focus has been on the JS.
*/
/*--------------------------------------------------------------------------*/
/* #endregion About */
/*==========================================================================*/

/*==========================================================================*/
/* #region General Reset */
/*--------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header,
body,
footer {
    text-align: center;
}
/*--------------------------------------------------------------------------*/
/* #endregion General Reset */
/*==========================================================================*/